<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    ">

	<!-- Spring DataSource Implementations like DriverManagerDataSource are meant only for testing purposes and do not provide pooling. -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:classicmodels" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- enable some advanced features supported by Spring, usually in a vendor-specific manner -->
		<property name="JpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
		<property name="packagesToScan" value="com.med.firstapp.model" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<!-- <prop name="hibernate.connection.url"> jdbc:mysql://localhost:3306/test?createDatabaseIfNotExist=true <prop/> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>

				<!-- default_schema Useful when testing with DBUnit and Mysql root user -->
				<!-- <prop key="hibernate.default_schema"></prop> -->

				<!-- NOT SURE TO WORK (ALWAYS|AUTO|COMMIT|MANUAL)  -->
				<!-- <prop key="org.hibernate.flushMode">AUTO</prop> -->

				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.use_sql_comments">false</prop>
				<prop key="hibernate.generate_statistics">false</prop>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>

				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
				<!-- ENABLE_SELECTIVE enables 2nd level caching only for @Cacheable Entities -->
				<prop key="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<tx:annotation-driven />

	<jpa:repositories base-package="com.med.firstapp.dao" transaction-manager-ref="transactionManager" />

	<bean id="currentTimeDateTimeService" class="com.med.firstapp.provider.ConstantTimeDateTimeService" />

	<bean id="auditingDateTimeProvider" class="com.med.firstapp.provider.AuditingDateTimeProvider" />

	<bean id="auditorAware" class="com.med.firstapp.provider.AuditorAwareImpl" />

	<jpa:auditing date-time-provider-ref="auditingDateTimeProvider" auditor-aware-ref="auditorAware" modify-on-creation="false" />

</beans>