<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd"
  >

  <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
  <beans:bean id="appUserDetailsService" class="com.med.firstapp.service.AppUserDetailsService" />

  <http>
    <remember-me key="uniqueAndSecret" />

    <intercept-url pattern="/login*" access="permitAll()"/>
    <intercept-url pattern="/**" access="isAuthenticated()" />

    <form-login login-page="/login" default-target-url="/" authentication-failure-url="/login?error" />
    <logout logout-url="/logout" logout-success-url="/login?logout" />

  </http>

  <authentication-manager>
    <authentication-provider user-service-ref="appUserDetailsService">
      <password-encoder ref="passwordEncoder" />
    </authentication-provider>
  </authentication-manager>

  <global-method-security pre-post-annotations="enabled" />

</beans:beans>
