<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="base :: base_head(~{::title},~{})">
    <title>Login</title>
  </head>
  <body th:replace="base :: base_body(~{::_body})">
    <th:block th:fragment="_body">
      <form class="form-horizontal" th:action="@{/login}" method="POST">

        <div class="form-group" th:if="${param.error}">
          <p class="col-sm-12 alert alert-danger">Failed login!</p>
        </div>

        <div class="form-group" th:if="${param.logout}">
          <p class="col-sm-12 alert alert-success">Logged out successfully!</p>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="username">Username:</label>
          <div class="col-sm-10">
            <input type="text" size="50" class="form-control" id="username" placeholder="Enter username" name="username">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-10">
            <input type="password" size="50" class="form-control" id="password" placeholder="Enter password" name="password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" name="remember-me"> Remember me</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Login</button>
          </div>
        </div>

      </form>
    </th:block>
  </body>
</html>